<div class="pz_down">
  <div class="container-fluid footer_body">
    <div class="container">
      <ul>
        <li>
          <div class="ico"><img src="{pboot:sitedomain}/skin/picture/footer35935350.png" alt="Hotline"></div>
          <h6>Hotline:</h6>
          <h4>{pboot:companyphone}</h4>
          <h4>{pboot:companymobile}</h4>
        </li>
        <li class="l1">
          <div class="ico"><img src="{pboot:sitedomain}/skin/picture/footer44543051.png" alt="Email"></div>
          <h6>Email:</h6>
          <h5>{pboot:companyemail}</h5>
        </li>
        <li>
          <div class="ico"><img src="{pboot:sitedomain}/skin/picture/footer59981066.png" alt="Address"></div>
          <h6>Address:</h6>
          <h5 style="padding-right:20px;">{pboot:companyaddress}</h5>
        </li>
        <li class="l2">
          <div class="ico"><img src="{pboot:sitedomain}/skin/picture/footer6.png" alt="Follow us"></div>
          <h6>Follow us:</h6>
          <div class="btn"> <a class="a1">
            <div class="ewm">
              <p><img src="{pboot:companyweixin}" title="wechat" alt="erweima.jpg"/></p>
            </div>
            </a> <a class="a2" href="#" target="_blank"></a> <a class="a2" href="#" target="_blank"></a> <a class="a3" href="#" target="_blank"></a> <a class="a4" href="#" target="_blank"></a> </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="footer_down">
        <dt><img src="{pboot:sitedomain}/skin/picture/footer10.png" alt="Links">Links<span>:</span></dt>
        <div class="dd"> {pboot:link gid=1 num=10} <a href="[link:link]" target="_blank">[link:name]<span>|</span></a> {/pboot:link} </div>
      </div>
    </div>
  </div>
  <div class="container-fluid clearfix bottom">
    <div class="container">
      <div class="p">
        <p>{pboot:sitecopyright} <a href="https://beian.miit.gov.cn/" target="_blank" style="color:#888;" rel="nofollow">{pboot:siteicp}</a> <a href="{pboot:sitedomain}/index.php/sitemap.xml" style="color:#888;" target="_blank">XML地图</a> {pboot:sitestatistical}</p>
      </div>
      <div class="link">
        <p>Powered by <a href="https://www.adminbuy.cn/" target="_blank">网站模板</a></p>
      </div>
    </div>
  </div>
</div>
